:root {
    --pur: #b3a7d2;
    --ora: #edbbb4;
    --blu: #91c4f2;
    --whi: #fff;
    --bla: #000;
}

*, *::before, *::after {
    padding: 0;
    /* margin: 0; */
    box-sizing: border-box;
}

body {
    background-color: var(--pur);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.wrapper h1 {
    padding: 8px;
    text-align: center;
}

.wrapper p {
    padding: 8px;
}

section {
    border-radius: 15px;
}

.white {
    background-color: var(--whi);
}

.orange {
    background-color: var(--ora);
}

.black {
    background-color: var(--bla);
    color: var(--whi);
}



