<h1>CSS</h1>

<main class="wrapper">
    <section class="white">
        <h1>White</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam vitae quisquam non accusantium illum tenetur eaque quibusdam autem explicabo eligendi earum aliquid, voluptatum praesentium dolore blanditiis laborum sint unde commodi!</p>
    </section>

    <section class="orange">
        <h1>Orange</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam vitae quisquam non accusantium illum tenetur eaque quibusdam autem explicabo eligendi earum aliquid, voluptatum praesentium dolore blanditiis laborum sint unde commodi!</p>
    </section>

    <section class="black">
        <h1>Black</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam vitae quisquam non accusantium illum tenetur eaque quibusdam autem explicabo eligendi earum aliquid, voluptatum praesentium dolore blanditiis laborum sint unde commodi!</p>
    </section>
</main>


