<nav class="active" id="nav">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Works</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <button class="icon" id="toggle">
        <aside class="line line1"></aside>
        <aside class="line line2"></aside>
    </button>
</nav>



